body .font-heading {
    font-family: 'Merriweather', serif;
    font-family: 'Inter', sans-serif;
    font-family: 'Merriweather', serif;
    font-family: 'Inter', sans-serif;
    font-family: 'Merriweather', serif;
    font-family: 'Inter', sans-serif;
    font-family: 'Merriweather', serif;
    font-family: 'Inter', sans-serif;
    font-family: 'Merriweather', serif;
}

.body {
    margin: 50px 140px;
}

.header {
    /* margin:50px 140px; */
    width: 1320px;
    height: 600px;
    flex-shrink: 0;
    border-radius: 16px;
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('../images/Banner Image.png');
    background-repeat: no-repeat;
    background-position: center;

}

.header-1 {
    padding-top: 177px;
    margin-bottom: 0px;
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.header-2 {

    padding-bottom: 177px;
    margin-top: 0px;
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: 95px;
}

/* section portion */

.text-1 {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 88px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 2px;
}

.text-2 {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 2px;
}

.text-3 {
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 2px;
}

.image-1 {
    margin: 0px 220px 120px;
    width: 802.9px;
    height: 500px;
    flex-shrink: 0;
}

.banner {
    background: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('../images/Vectorrr.png');
    width: 1320px;
    height: 600px;
    flex-shrink: 0;
    display: flex;
    margin-bottom: 120px;
}

.banner-title {
    width: 642px;
    height: 176px;
    margin: 126px 0px 24px 126px;
    color: #FFF;
    font-family: Merriweather;
    font-size: 64px;
    font-style: normal;
    font-weight: 900;
    line-height: 88px;
    letter-spacing: 7.04px;
}

.banner-description {
    width: 697px;
    height: 60px;
    margin: 33px 0px 48px 126px;
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    /* 166.667% */
}

.button-primary {
    margin-left: 158px;
    margin-bottom: 142px;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    background-color: transparent;
}

.banner .image-2 {
    margin: 68px 138px 0px 94px;
    width: 319.83px;
    height: 464.662px;
}

/* Address */

.address {
    padding: 100px 386px 214px 385px;
    width: 549px;
    height: 168px;
    flex-shrink: 0;
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
}

.tag-1 {
    color: #070211;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px;
    text-transform: capitalize;
    margin-bottom: 0px;
    text-align: center;
}

.tag-2 {
    margin-top: 0px;
    color: #070211;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px;
    text-transform: capitalize;
    margin-bottom: 0px;
    text-align: center;
}

.tag-3 {
    margin-top: 0px;
    color: #070211;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px;
    text-transform: capitalize;
    text-align: center;
}


.content {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px;
    /* 175% */
    text-transform: capitalize;
}

.button-second {
    /* margin-bottom: 110px; */
    margin: 0px 100px 110px 190px;
    /* margin-left: 576px;
    margin-right: 576px; */
    /* padding-left: 576px;
    padding-right: 576px; */
    /* width: 167px;
    height: 56px; */
    display: inline-flex;
    padding: 16px 32px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    border-color: #FFF;
    background: #F00;

    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}


.portfolio {
    margin-top: 120px;
    background: #FFF;
}

.portfolio-title {
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 0px;
}

.portfolio-heading {
    margin-top: 0px;
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;
    margin-bottom: 0px;

}

.portfolio-description {
    margin-top: 0px;
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    /* 160% */
}

.all-image-ratio {
    width: 424px;
    height: 450px;
    flex-shrink: 0;
    border-radius: 16px;
    background: lightgray;
    margin-bottom: 0px;
    background-repeat: no-repeat;
    transition: background-color 0.3s ease-in-out;
}

.all-image-ratio:hover {
    background-color: rgb(217, 27, 27); 
}



.newsletter {
    margin-top: 120px;
    width: 1320px;
    height: 616px;
    flex-shrink: 0;
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
}

.picture {
    margin: 80px 585px 20px 585px;
    width: 150px;
    height: 150px;
    flex-shrink: 0;
}

.news-1 {
    margin: 0px 404px 0px 404px;
    color: #070211;
    text-align: center;
    font-family: Merriweather;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;
}

.news-2 {
    margin: 0px 212px;
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    margin-bottom: 30px;
    /* 160% */
}

.mail-portion {
    margin: 0px 336px;
    width: 648px;
    height: 72px;
    flex-shrink: 0;
    border-radius: 50px;
    background: #FFF;
    background-repeat: no-repeat;

    color: rgba(7, 2, 17, 0.30);
    text-align: center;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}


.button-third {
    margin: 0px 0px 0px 324px;
    width: 219px;
    height: 70px;
    flex-shrink: 0;
    border-radius: 0px 50px 50px 0px;
    border-color: transparent;
    background: #F00;

    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: capitalize;
}



/* footer section */

.footer-background {
    width: 1600px;
    height: 609px;
    flex-shrink: 0;
    background: #070211;
}

.location {
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px;
    /* 166.667% */
    justify-content: space-between;
}

.social-links {
    width: 64px;
    height: 64px;
    flex-shrink: 0;
    justify-content: center;
}

.copyright {
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    justify-content: space-between;
}