body .font-heading {
    font-family: 'Merriweather', serif;
}

.header {
    margin:50px 140px;
    width: 1320px;
    height: 600px;
    flex-shrink: 0;
    border-radius: 16px;
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('../images/Banner_Image.png');
    background-repeat: no-repeat;
    background-position: center;
    
}


.header-1 {
    padding-top: 177px;
    margin-bottom: 0px;
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.header-2 {
    
    padding-bottom: 177px;
    margin-top: 0px;
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: 95px;
}